@page "/countryoverview"
@inherits CountryOverviewBase

<PageTitle>Countries</PageTitle>
<h1>Countries</h1>
<CountryList @ref="CountryListComponent"></CountryList>

<button type="button" class="btn btn-primary" @onclick="() => AddCountry()">Add</button>